[submodule "themes/pelican-sparrow"]
	path = themes/pelican-sparrow
	url = git@github.com:zappala/pelican-sparrow.git
[submodule "themes/pelican-etna"]
	path = themes/pelican-etna
	url = git@github.com:zappala/pelican-etna.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:zappala/pelican-plugins.git
